<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>A web</title>
</head>
<body>
    <h1>{{pageTitle}}</h1>
    <p>{{welcomeMessage}}</p>
    <footer>
        <p>{{curYear}}</p>
    </footer>
</body>
</html>
